extends ../components/Layout

block Layout
  h1 About page
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptas, cumque voluptates ipsam maiores doloremque repellat explicabo reiciendis aliquid ullam, fugit saepe, vitae id rerum temporibus nemo? Quaerat, perferendis voluptates 