* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  color: inherit;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
}

/* ================= */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  background: rgb(117, 117, 211);
  padding: .6em;
  border-radius: .3em;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
}
